header {
  color:rgba(150,150,150);
  background-color:rgba(0, 0, 0, 0.35);
  }
footer {
  color:rgba(150,150,150);
  background-color:rgba(0, 0, 0, 0.35);
  }
p {
  color:rgba(150,150,150);
  background-color:rgba(0, 0, 0, 0.60);
}
